{% extends "view/main_template.html" %}
{% block title %} - logowanie{% endblock %}
{% block content%}
<center>
<h2>Logowanie na nasza sprawdzarke</h2>
Logowanie jest wymagane, jeżeli chcesz sprawdzic poprawość swojego kodu.
<p>
<div style="margin-left:35%;margin-right:35%;">
<fieldset>
    <form method="post" action="view/homepage">{% csrf_token %}
    <div style="text-align:left";>{{ form.as_p }}</div>
    <input type="hidden" name="next" value="/" />
    <input type="submit" value="Logowanie"/>    <input type="reset" value="Wartości domyślne"/>
  </form>
</fieldset>
</div>
</center>  
{% endblock %}
{% block footer %}
<p>
<div style="text-align:center;"><a href="/">Strona główna</a></div>
</p>
{% endblock %}