{% extends "view/main_template.html" %}
{% block title %}Sprawdzarka{% endblock %}
{% block content %}
    <h1>Dodaj algorytm</h1>
    <hr/>

    <form name="form" action="/solution/add" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="solution">Kod napisany w Python</label>
            <textarea class="form-control" id="solution" rows="15"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
