{% extends "view/main_template.html" %}
{% block title %}Rozwiązanie{% endblock %}
{% block content %}
    <h1>Rozwiazanie z: {{ solution.add_date }}</h1>
    <hr/>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Pokaż kod
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <pre><code>{{ solution.program_code | safe }}</code></pre>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        {% for testResult in solution.testresult_set.all %}
            <tr>
                <td>{{ testResult.time }} ms</td>
                <td>
                    {% if testResult.result == "ok" %}
                        <span class="badge badge-success">OK</span>
                    {% elif testResult.result == "fail" %}
                        <span class="badge badge-warning">Zla odpowiedz</span>
                    {% elif testResult.result == "error" %}
                        <span class="badge badge-danger">Blad</span>
                    {% elif testResult.result == "timedout" %}
                        <span class="badge badge-danger">Przekroczenie czasu</span>
                    {% elif testResult.result == "inprogress" %}
                        <span class="badge badge-default">W trakcie wykonywania</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
